.header {
    padding: 50px 100px;
    background-color: rgb(89, 162, 164);
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

.main {
    padding: 100px;
    background-color: rgb(92, 67, 50);
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}